*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: auto;
  width: 1140px;
  margin-top: 132px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
  min-width: 399px;
  height: 298px;
  overflow-y: auto;
  padding: 0 2px 2px 2px;
  margin-top: -1px;
  margin-left: -2px;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  object-fit: cover;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item:not(:nth-last-child(2)) {
  margin-bottom: 31px;
}

.content__card-link:focus-visible {
  outline: none;
  border: 1px solid #fff;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.result__video-container,
.content__list {
  position: relative;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.title {
  margin-top: 4px;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form__label {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.button,
.search-form__pseudo-checkbox {
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
}

.search-form__checkbox-list {
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 399px;
  height: 34px;
  margin-top: 27px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label-text {
  line-height: 20px;
}

.search-form__textfield:focus {
  outline: none;
  outline-offset: 0;
}

.search-form__label:has(:focus-visible) {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.search-form__label:has(:active) {
  outline: none;
  outline-offset: 0;
}

.search-form__textfield:active {
  outline: none;
  outline-offset: 0;
  border: 1px solid #fff;
}

input[type="checkbox"]:checked + span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  top: 1px;
  left: 1px;
}

.search-form__checkbox-list .search-form__label:hover,
.button:hover,
.content__list-item:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link {
  padding: 2px 2px 2px 2px;
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}
